* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background: rgba(115, 115, 116, 255);
  font-family: "Poppins", sans-serif;
}

:root {
  --background-1: #2e2e2f;
  --background-2: #ff6a00;
  --background-3: #000000;
  --font-color-1: #ffffff;
  --font-color-2: rgba(126, 126, 126, 255);
}

/*------------------------General Classe------------------*/

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: auto;
}

/*-------------------------Nav Bar-----------------------*/

.navbar {
  background: var(--background-3);
  position: sticky;
  top: 0;
  z-index: 50;
}

.navbar a {
  text-decoration: none;
  color: var(--font-color-1);
}
.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.nav-bar-list,
.nav-bar-items {
  display: flex;
  flex-direction: row;
  color: var(--font-color-2);
}

.nav-bar-list li {
  list-style: none;
}

.nav-bar-list {
  color: white;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/*-------------------Section 1------------------*/

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr 2fr;
  gap: 30px;
  justify-items: center;
  margin-top: 50px;
}

.profile,
.skills-block,
.resume-block,
.contact-and-links,
.project-summary,
.project-name,
.projects-heading {
  border-radius: 16px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.profile:hover,
.skills-block:hover,
.resume-block:hover,
.contact-and-links:hover,
.project-summary:hover,
.project-name:hover,
.project-description:hover,
.project-gif:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.project-description,
.project-gif {
  border-radius: 16px 16px 0 0;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.project-gif img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 420px;
}
.profile {
  background: var(--background-1);
  padding: 20px;
  color: var(--font-color-2);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.profile-pic {
  height: 100%;
}

.profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.skills-and-resume {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: space-between;
}
.skills-block,
.resume-block,
.contact-and-links {
  background: var(--background-1);
  padding: 20px;
  color: var(--font-color-1);
  width: 100%;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}
.skills-list i {
  font-size: 20px;
}

.skills-list li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.resume-block {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume {
  background: #545455;
  padding: 20px;
  width: 100%;
}
.contact-and-links {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.contact-list li {
  list-style: none;
}

.contact-list li a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--font-color-1);
  text-decoration: none;
}

.project-summary {
  background: var(--background-3);
  padding: 20px;
  width: 100%;
  color: var(--font-color-1);
  text-align: center;
}

.project-summary-pic {
  margin-top: 20px;
}
.project-summary-pic img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
}
.project-name-2 {
  grid-column: 3;
  grid-row: 1;
}

.project-description-1 {
  grid-column: 2;
}
/*-----------------------------Projects-section------------------*/

.projects-section {
  margin-top: 20px;
  background: #838384;
  padding: 40px;
  position: relative;
  margin: 100px 0;
}

.projects-heading {
  background: var(--background-3);
  color: var(--font-color-1);
  text-align: center;
  padding: 15px;
  width: 300px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.project {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 3.5fr;
  gap: 10px;
  margin-top: 30px;
  padding: 0 10px;
  border-bottom: 10px solid var(--background-3);
}

.project-gif {
  background: var(--background-1);
  padding: 20px;
  grid-row: 1 / span 2;
}

.project-details {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 3.5fr;
}

.project-name {
  background: var(--background-3);
  color: var(--font-color-1);
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-name a {
  text-decoration: none;
  color: var(--font-color-1);
  display: flex;
  background: #545455;
  padding: 20px;
  gap: 20px;
  text-align: center;
  width: 100%;
}

.project-description {
  background: var(--background-1);
  padding: 20px;
  color: var(--font-color-1);
}

.project-description ul {
  margin-top: 20px;
  margin-left: 20px;
}

@media (max-width: 998px) {
  .section-1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5fr 2.5fr 0.5fr;
  }
  .skills-and-resume {
    grid-row: 3;
  }

  .project-summary {
    grid-column: 1 / span 2;
  }
  .skills-and-resume {
    flex-direction: row;
    grid-column: 1 / span 2;
  }

  .project {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 2fr;
  }

  .project-gif {
    grid-column: 1 / span 2;
    grid-row: 2;
    max-height: 400px;
  }
  .project-name-1 {
    grid-row: 1;
    grid-column: 1;
  }
  .project-description-1 {
    grid-row: 3;
    grid-column: 1;
  }
  .project-name-2 {
    grid-row: 1;
    grid-column: 2;
  }

  .project-description-2 {
    grid-row: 3;
    grid-column: 2;
  }
  .nav-bar-list,
  .nav-bar-items {
    position: static;
    display: flex;
    flex-direction: column;
  }
  .project-summary-pic img {
    max-height: 400px;
  }
}

@media (max-width: 550px) {
  .section-1 {
    display: flex;
    flex-direction: column;
  }

  .contact-list {
    position: static;
    transform: translate(0);
    margin-top: 10px;
  }
  .project {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 2fr 2fr 2fr;
  }

  .project-name-1 {
    grid-row: 1;
    grid-column: 1;
  }
  .project-name-2 {
    grid-row: 2;
    grid-column: 1;
  }
  .project-gif {
    grid-row: 3;
    grid-column: 1;
  }
  .project-description-1 {
    grid-row: 4;
    grid-column: 1;
  }
  .project-description-2 {
    grid-row: 5;
    grid-column: 1;
  }
  .projects-section {
    padding: 40px 10px;
  }
  .resume-block {
  }
}

@media (max-width: 440px) {
  .skills-and-resume {
    flex-direction: column;
  }
}
